.pics img{
    // border-radius: 5%;
    overflow: hidden !important;
    background-color: aquamarine;
    object-fit: cover;
    border: 1px rgb(0, 68, 255) solid;
}
.pics{
    overflow: hidden !important;
}