@font-face {
  font-family: dana;
  src: url("../../../../public/assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2");
}

.submit-btn {
  background-color: rgb(5, 219, 59) !important;
  
  &:disabled{
    background-color: red !important;
    opacity: .5;
  }
}

.ck-editor__editable{
  font-family: dana !important;
  direction: rtl !important;
  text-align: right !important;
  height: 200px !important;
  background: rgb(10, 13, 51) !important;
  color: white;
}
.ck-toolbar{
  background: rgb(177, 204, 228) !important;
}