.nav-ul::after {
  position: absolute;
  content: "";
  width: 500px;
  height: 2px;
  top: 50%;
  left: -85%;
  border-radius: 50%;

  @apply bg-rose-500/40;
}
.nav-ul::before {
  position: absolute;
  content: "";
  width: 500px;
  height: 2px;
  top: 50%;
  right: -85%;
  border-radius: 50%;

  @apply bg-rose-500/40;
}

.nav-link::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 5px;
  top: 45%;
  right: -20%;
  border-radius: 50%;

  @apply bg-rose-500;
}
