#gallery img {
  transition: all 1s ease-out;
  border-radius: 20px;
}

.swiper-pagination{
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 40px;
}
#gallery .swiper-pagination .swiper-pagination-bullet {
  border-radius: 50%;
  width: 12px !important;
  height: 12px !important;
  background-color: rgba(112, 114, 224, 0.37);
  opacity: 1;
  border: 1px solid rgb(208, 235, 6);
}

#gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(183, 50, 50);
}

